extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='song_name') Song:
      input.form-control(type='text' id='' placeholder='Name of the song' name='song_name' required='true' value=song_name )

    div.form-group
      label(for='language') Language :
      input.form-control(type='text' id='language' placeholder='Language' name='language' required='true' value=language )
    
    div.form-group
      label(for='album_name') Album:
      input.form-control(type='text' id='album_name' placeholder='Name of the Album' name='album_name' required='true' value=album )
    
    div.form-group
      label(for='singers_name') Singers:
      input.form-control(type='text' id='singers_name' placeholder='Name of the Singer' name='singers_name' required='true' value=singers_name )
    
    div.form-group
      label(for='composer_name') Composer:
      input.form-control(type='text' id='composer_name' placeholder='Name of the Composer' name='composer_name' required='true' value=composer_name )
    
    div.form-group
      label(for='lyricist_name') Lyricist
      input.form-control(type='text' id='lyricist_name' placeholder='Name of the Lyricist' name='lyricist_name' required='true' value=lyricist_name )    
    
    div.form-group
      label(for='genre_name') Genre
      input.form-control(type='text' id='genre_name' placeholder='Name of the Genre' name='genre_name' required='true' value=genre_name )
    
    div.form-group
      button.btn.btn-primary(type='submit') Submit

    if errors
      hr
      ul
        for error in errors
          li!= error.msg
          | p=data